<!-- begin::Page loader -->
<!-- end::Page loader -->                      	<!-- begin:: Page -->
<router-outlet></router-outlet>
<!-- end:: Page -->
<app-scroll-top></app-scroll-top>
<!--begin::Base Scripts -->             	    	 		    	 				<!--end::Base Scripts -->                       <!--begin::Page Vendors -->                                   <!--end::Page Vendors -->                                                              <!--begin::Page Snippets -->                                   <!--end::Page Snippets -->
