<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">								
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--primary">
								<span>
									Loyalty Bonus
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<p class="php">
						Php {{earnings.loyaltyBonus}}.00
					</p>
				</div>
			</div> 
			<!-- cycle bonus -->
			<div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
															
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--warning">
								<span>
									1st Equal Bonus
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<p class="php">
						Php {{earnings.equalBonus}}.00
					</p>
				</div>
			</div>
			
			<div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">			
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--info" style="background-color:#8e15bfc7; ">
								<span>
									Royalty Bonus
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<p class="php">
						Php {{earnings.royaltyBonus}}.00
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--danger">
								<span>
									Share Up Bonus
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<p class="php">
						Php {{earnings.shareUpBonus}}.00
					</p>
				</div>
			</div>
			<!-- equal -->
			<div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">									
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--accent">
								<span>
									2nd Cycle Bonus
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<p class="php">
						Php {{earnings.cycleBonus}}.00
					</p>
				</div>
			</div>
			
			<div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
															
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--info">
								<span>
									Infinite Bonus
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<p class="php">
						Php {{earnings.infiniteBonus}}.00
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			
		</div>
		<div class="col-lg-6">
			<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
															
							</span>
							<h3 class="m-portlet__head-text">
								
							</h3>
							<h2 class="m-portlet__head-label m-portlet__head-label--success">
								<span>
									Total Earnings
								</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="m-portlet__body" style="text-align: center">
					<p class="php">
						Php {{total}}.00
					</p>
					<p style="font-size: 20px;">
						Net Balance: {{availableForWithdrawal}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>